body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(tomato, red);
    font-weight: 600px;
    color: whitesmoke;
    font-size: 20px;
    border-radius: 5px;

}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.upper-area {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.name-color {
    color: tomato;
}

.upper-area {
    display: flex;
}

.middle-area {
    display: flex;
    margin-bottom: 60px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 50%;
    padding-left: 80px;
}

.half-width img {
    width: 100%;
}

.half-width p {
    margin: 40px 0;
    text-align: justify;
}

.middle-area .half-width p {
    padding: 0 30px 0 0;
}